name: release.yaml
on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        id: setup-go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Identify Tag Branch
        id: identify
        run: |
          branch=$(git for-each-ref --format='%(refname:short)' refs/remotes/origin/ --contains ${{ github.ref_name }} | head -n 1)
          if [ -z "$branch" ]; then
            echo "No branch found for tag ${{ github.ref_name }}"
            exit 1
          fi
          branch=${branch#origin/}
          echo "branch is $branch";
          
          echo "branch=${branch}" >> $GITHUB_OUTPUT;
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          GO_VERSION: ${{ steps.setup-go.outputs.go-version }}
          BRANCH_NAME: ${{ steps.identify.outputs.branch }}